/**
 * Plugin Name: WP Plugin Info Card by b*web
 * Author: Brice CAPOBIANCO - b*web
 */
@import url("./wp-plugin-info-card.css");
#wppic-admin-page #post-body-content .postbox .inside{
	line-height: 1em;
}
#wppic-admin-page pre {
	display: block;
	background: #EAEAEA;
	margin: 0 0 10px;
	padding: 5px;
	overflow-x: auto;
}
h3.wp-pic-title {
	margin-top:20px;
}
#wppic-shortcode:after {
	content:'';
	display:block;
	clear:both;
	padding-bottom:15px;
}
#wppic-shortcode h3.hndle,
#wppic-form h3.hndle {
	margin: 0;
	padding: 8px 0 8px 12px;
}
input.wppic-add {
	min-width: 50%;
}
#wppic-liste li.wppic-dd {
    list-style-type: none;
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	position: relative;
}
#wppic-liste li.wppic-dd input[type=text] {
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
}
#wppic-liste li.wppic-dd .wppic-remove-field {
	height: 24px;
	width: 24px;
	display: inline-block;
    cursor: pointer;
	margin-left: 5px;
	position: absolute;
	right: 0;
	top: 2px;
}
#wppic-about-list,
#wppic-donate {
	display: inline-block;
	margin-right: 35px;
	line-height: 30px;
	vertical-align: top;
}
.wppic-button {
	display: inline-block;
	position: relative;
	padding: 5px 0 5px 25px;
	text-decoration: none;
	margin-right: 35px;
}
#wppic-donate form {
	display: inline-block;
}
.wppic-button:before,
#wppic-liste li.wppic-dd:before,
#wppic-liste li.wppic-dd .wppic-remove-field:after {
	font-family: "dashicons";
	position: absolute;
	display: inline-block;
	left: 0px;
	font-size: 1.5em;
}
.wppic-button.wppic-pluginHome:before {
    content: "\f103";
}
.wppic-button.wppic-pluginOther:before {
    content: "\f328";
}
.wppic-button.wppic-pluginPage:before {
    content: "\f120";
}
.wppic-button.wppic-pluginSupport:before {
    content: "\f223";
}
.wppic-button.wppic-pluginRate:before {
    content: "\f155";
}
.wppic-button.wppic-pluginContact:before {
    content: "\f130";
}


#wppic-liste li.wppic-dd:before {
    cursor: move;
	top: 0px;
	left: 5px;
	height: 24px;
	width: 24px;
    content: "\f156";
}
#wppic-liste li.wppic-dd:first-child:before {

}
#wppic-liste li.wppic-dd .wppic-remove-field:after {
	left: auto;
	width: 24px;
	height: 24px;
    content: "\f335";
}
