/* Alignment Group Component Styles */
.ajaxify-alignment-component-base {
	margin: 10px 0;
	transition: all ease-in-out 0.5s;
	.has-alignment-component-label {
		display: block;
		margin-bottom: 5px;
	}
	.components-button-group {
		width: 100%;
		margin-top: 5px;
	}
}