<?xml version="1.0"?>
<ruleset name="Info Cards Pro Standards">
	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg value="s" /><!-- Show sniff codes in all reports -->

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName" />
		<exclude name="Generic.Arrays.DisallowShortArraySyntax" />
		<!-- exclude filter naming conventions -->
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores" />
	</rule>
	<!--
	Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
	See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
	-->
	<ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />
	<rule ref="WordPress-Docs"></rule>

	<config name="testVersion" value="5.6-" />
	<file>.</file>

	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/vendor/</exclude-pattern>
</ruleset>
