includes:
    - lib/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 0
    tmpDir: .phpstan-tmp

    parallel:
        maximumNumberOfProcesses: 1

    paths:
        - wp-plugin-info-card.php
        - functions.php
        - uninstall.php
        - php

    excludePaths:
        analyse:
            - lib/*
            - node_modules/*
            - dist/*
            - build/*