/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wppic-block {
  h3 {
    width: 100%;
  }
  div {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  input {
    display: inline-block;
    width: 100%;
  }
}
