/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 @import '../common.scss';
.wp-pic-flip,
.wp-pic-wordpress,
.wp-pic-large {
  display: block !important;
}
.is-block-content .wp-pic {
	max-width: 100% !important;
}
.wppic-query-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	div {
		width: 100%;
		text-align: center;
		h3 {
			margin: 1.8em 0 1.0em 0;
		}
		p {
			margin: 10px 0;
		}
		input {
			text-align: center;
			width: 100%;
			max-width: 25rem;
		}
		select {
			width: 100%;
			max-width: 25rem;
		}
	}
	.button.button-primary {
		margin-top: 1.8em;
	}
}
.wppic-loading-placeholder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wppic-loading {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	svg {
		width: 100%;
	}
	.wppic-spinner {
		width: 100%;
		text-align: center;
	}
}
.wp-pic-full-width {
  float: none;
  width: 100%;
  .card.wp-pic {
    width: 100%;
  }
  .card.wp-pic .wp-pic-front .wp-pic-name {
    width: 100%;
    text-align: center;
    display: block;
  }
}
.wppic-block {
  h3 {
    width: 100%;
  }
  div {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  input {
    display: inline-block;
    width: 100%;
  }
}
