/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 @import '../src/css/wppic-style.css';
.wp-pic-flip,
.wp-pic-wordpress,
.wp-pic-large {
  display: block !important;
}
.wp-pic-full-width {
  float: none;
  width: 100%;
  .card.wp-pic {
    width: 100%;
  }
  .card.wp-pic .wp-pic-front .wp-pic-name {
    width: 100%;
    text-align: center;
    display: block;
  }
}
.wppic-block {
  h3 {
    width: 100%;
  }
  div {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  input {
    display: inline-block;
    width: 100%;
  }
}
