/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 @import './style.scss';
@import '@splidejs/splide/dist/css/splide.min.css';

 @keyframes wppicspin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Spin Styles */
.wp-pic-spin svg {
	animation: wppicspin 1.5s infinite linear;
	transform-origin: 50% 50%;
}

.wp-plugin-info-card {
	&.aligncenter,
	&.alignwide,
	&.alignfull {
		display: flex;
		justify-content: center;
	}
}

/* WP Pic Query Block Styles */
.wp-plugin-info-card-query {
	.wp-pic-grid {
		display: grid;
		row-gap: 10px;
		column-gap: 10px;
		&.cols-1 {
			grid-template-columns: 1fr;
		}
		&.cols-2 {
			grid-template-columns: 1fr 1fr;
			
		}
		&.cols-3 {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

/* Panel Styles */
.wppic-query-block-panel,
.wppic-site-plugins-panel {
	position: relative;
	background: #fff;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #333;
	border-radius: 5px;
	min-width: 450px;

	select {
		height: inherit !important;
		font-size: 14px !important;
		line-height: 1.2em !important;
		border-width: 1px !important;
		width: 100% !important;
		max-width: 100% !important;
	}
	#wppic-input-submit {
		background: #FFF;
		color: #cb212b;
		box-shadow: inset 0 0 0 1px #cb212b;
		border-radius: 3px;
		padding: 15px 25px !important;
		transition: all ease-in-out 0.5s;

		&:hover {
			box-shadow: inset 0 0 0 2px #cb212b;
		}
	}
}
.wp-pic-tab-panel {
	padding: 0 16px;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	.components-tab-panel__tabs {
		margin-bottom: 20px;

		.wppic-tab-layout,
		.wppic-tab-slug {
			border-radius: 0;
			background: transparent;
			border: none;
			box-shadow: none;
			cursor: pointer;
			display: inline-block;
			padding: 3px 15px;
			margin-left: 0;
			font-weight: 500;

			&.active-tab {
				font-weight: 700;
				border-bottom: 2px solid #cb212b;
			}
		}
	}
}
.wppic-block-svg {
	text-align: center;
}
.wp-pic-flip,
.wp-pic-wordpress,
.wp-pic-large {
	display: block !important;
}
.is-block-content .wp-pic {
	max-width: 100% !important;
}
.wppic-query-block,
.wppic-site-plugins-block {
	.components-base-control__help {
		text-align: left;
		font-size: 12px;
		margin: 0;
		font-style: italic;
		margin-bottom: 10px;
	}
	.button.button-primary {
		margin-top: 1.8em;
	}
	.wp-pic-gutenberg-button {
		text-align: center;
		button {
			margin-top: 20px;
			text-align: center;
		}
	}
}
.wppic-loading-placeholder {
	background: #FFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #DDD;
}
.wppic-loading {
	width: 100%;
	padding: 20vh 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	svg {
		width: 100%;
	}
	.wppic-spinner {
		& > span {
			display: inline-block;
			width: 18px;
			height: 18px;
		}
	}
	h2 {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 18px !important; /* override core styles */
		line-height: 1.4 !important; /* override core styles */
		text-align: center;
		padding: 15px 0;
	}
}
.wp-pic-full-width {
	float: none;
	width: 100%;
	.card.wp-pic {
		width: 100%;
	}
	.card.wp-pic .wp-pic-front .wp-pic-name {
		width: 100%;
		text-align: center;
		display: block;
	}
}
.wppic-block {
	h3 {
		width: 100%;
	}
	div {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	input {
		display: inline-block;
		width: 100%;
	}
}

.wp-block[data-align=left],
.wp-block[data-align=center],
.wp-block[data-align=right],
.wp-block[data-align=full] {
	& > div.wp-block-plugin-info-card {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		float: none;
		margin-right: 1em;
	}
}
.wp-block[data-align=center] > div.wp-block-plugin-info-card,
.wp-block[data-align=full] > div.wp-block-plugin-info-card {
	justify-content: center;
}
.wp-block[data-align=right] > div.wp-block-plugin-info-card  {
	justify-content: flex-end;
}
div[data-type="wp-plugin-info-card/wp-plugin-info-card"] .wp-block {
	height: auto;
}
.wp-pic-card.wp-block-plugin-info-card > div {
	margin-right: 1em;
	margin-bottom: 1em;
	&:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
.is-placeholder .flex.wp-pic-wrapper.wp-pic-card {
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}
.is-placeholder .flex.wp-pic-wrapper.wp-pic-card .wp-pic-card {
	width: 100%;
	margin-bottom: 1em;
}

/* SitePluginsCardGrid Styles */
.wppic-site-plugins-description {
	p {
		text-align: center;
		font-size: 14px;
		font-family: sans-serif;
	}
}
.wppic-line-count {
	display: flex;
	align-items: center;
	position: relative;
	border: 1px solid #DDD;
	padding: 4px 5px;
	width: 100%;
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: middle;

	span {
		display: block;
		height: 5px;
		transition: width 0.5s ease-in-out;
	}
}
/* Row Column Buttons */
.wppic-panel-rows-cols {
	.components-base-control {
		width: 100%;
	}
	.components-button-group {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
		text-align: center;

		button { 
			justify-content: center;
		}
	}
}

/* Numbers Component */
.components-base-control.wppic-numbers-component {
	width: 100%;
}
.wppic-numbers-component-buttons__custom {
	display: grid;
	grid-template-columns: 1fr 32px;

	.components-wppic-control-button__number {
		&.has-icon {
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
	.components-base-control {
		margin-bottom: 0 !important; /* override core styles */
	}
	.components-base-control__field {
		margin-bottom: 0 !important; /* override core styles */
	}
	.components-text-control__input {
		min-height: 36px;
	}
}
.wppic-numbers-component-buttons__numbers {
	display: grid;

	.components-wppic-control-button__number {
		&.has-icon {
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	button {
		justify-content: center;
	}
	&.cols-1 {
		grid-template-columns: 1fr 28px;
	}
	&.cols-2 {
		grid-template-columns: 1fr 1fr 1fr;
	}
	&.cols-3 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	&.cols-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr 32px;
	}
	&.cols-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

.wp-pic-tab-panel {
	padding-top: 15px;
}
.wp-pic-button-row {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: calc(1em + 10px);
}
.wp-pic-admin-description {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.wp-pic-plugin-screenshots-image {
	img {
		border: 1px solid #ddd;
	}
}

/* Preset Modal Button */
.has-preset-modal-apply-button {
	margin-right: 8px;
}
.wppic-custom-preset-notice {
	margin-bottom: 15px;
}

/* Preset Modal */
.has-preset-modal-radio-control {
	.components-flex {
		flex-direction: row;
		justify-content: flex-start;
		.components-radio-control__option:first-child {
			margin-right: 8px;
		}
	}
	margin-bottom: 15px;
}
.has-preset-modal-new-preset {
	margin-bottom: 15px;
}
.has-custom-preset-actions {
	display: flex;
	flex-wrap: wrap;

	button.components-button {
		width: 100%;
		text-align: center;
		justify-content: center;

		&:first-of-type {
			margin-bottom: 15px;
		}
	}
}

/* Preset buttons */
.has-presets button.components-button.has-preset-button {
	background: #FEFEFE;
	color: #333;
	border: 1px solid #333;
	box-shadow: inset 0 0 0 1px #ccc;
	transition: all 200ms ease-in-out;
	&:hover,
	&:hover:not(:disabled) {
		background: #333;
		color: #FFF;
	}
	&:active,
	&:active:not(:disabled) {
		background: #333;
		color: #FFF;
	}
}
.has-preset-edit-container--edit {
	button.components-button.has-preset-button {
		background: #FEFEFE;
		color: #333;
		border: 0;

		&:hover,
		&:hover:not(:disabled) {
			background: #FEFEFE;
			color: #333;
		}
		&:active,
		&:active:not(:disabled) {
			background: #FEFEFE;
			color: #333;
		}
	}
	
}
.has-presets .has-preset-edit-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;

	button.components-button {
		border: 1px solid #333 !important;
		box-shadow: inset 0 0 0 1px #333;
		max-height: 28px;
		&.has-preset-edit-button {
			background: var( --wp-admin-theme-color, var( --quotes-dlx-admin--color-green,  #007cba ) );
			color: #FFF;
			border: 0;
			box-shadow: unset;
		}
		&.has-preset-edit-button:hover {
			background: var( --wp-admin-theme-color-darker-20, var( --quotes-dlx-admin--color-green-dark,  #005a87 ) );
		}
		&.has-preset-delete-button {
			background: var( --quotes-dlx-admin--color-red--required );
			color: #FFF;
			border: 0;
			box-shadow: unset;
		}
		&.has-preset-delete-button:hover {
			background: var( --quotes-dlx-admin--color-red-alt );
			border: 0;
			box-shadow: unset;
		}
	}	
}
.has-preset-modal-override-preset {
	margin-bottom: 15px;

	.components-radio-control__option {
		margin-bottom: 6px;
	}
}
.wppic-presets {
	.components-button-group {
		display: block;
		margin-bottom: 12px;
	}
}
.has-preset-modal {
	.components-notice.is-error {
		margin: 0;
	}
	.components-notice__content {
		display: flex;
		align-items: center;
	}
	.ajaxify-admin__notice-icon {
		margin-right: 8px;
		line-height: 0;
		color: #cc1818;
	}
}
.has-preset-edit-container {
	button.components-button.has-preset-button {
		background: #FEFEFE;
		color: #333;
		border: 0;

		&:hover,
		&:hover:not(:disabled) {
			background: #FEFEFE;
			color: #333;
		}
		&:active,
		&:active:not(:disabled) {
			background: #FEFEFE;
			color: #333;
		}
	}
}
.has-preset-edit-container--edit {
	border: 1px solid #ddd;

	button.components-button.has-preset-button {
		text-align: center;
		width: 100%;
	}
}
.has-preset-edit-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.wppic-custom-preset-edit-button {
	display: flex;
	align-items: center;
	justify-content: center !important; /* override core style */
	width: 100%;
}
.wppic-custom-preset-container {
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}