@import 'breakpoints-mixin.scss';

.wp-site-plugin-info-card {
	display: grid;
	margin: 25px auto;

	.wp-pic-wrapper {
		display: flex;
		justify-content: center;
	}

	&.cols-1 {
		grid-template-columns: 1fr;
	}
	&.cols-2 {
		grid-template-columns: 1fr;
		@include respond-to('medium') {
			grid-template-columns: 1fr 1fr;
			justify-content: center;
		}
	}
	&.cols-3 {
		grid-template-columns: 1fr;
		@include respond-to('medium') {
			grid-template-columns: 1fr 1fr;
			justify-content: center;
			.wp-pic-wrapper {
				align-self: end;
			}
		}
		@include respond-to('large') {
			grid-template-columns: 1fr 1fr 1fr;
			justify-content: center;
		}
		
	}
}

.wp-block-plugin-info-card {
	&.has-grid {
		display: grid;
		margin: 25px auto;

		.wp-pic-wrapper {
			display: flex;
			justify-content: center;
		}

		&.cols-1 {
			grid-template-columns: 1fr;
		}
		&.cols-2 {
			grid-template-columns: 1fr;
			@include respond-to('medium') {
				grid-template-columns: 1fr 1fr;
			}
			.wp-pic-wrapper:nth-child(odd) {
				justify-content: flex-end;
			}
			.wp-pic-wrapper:nth-child(even) {
				justify-content: flex-start;
			}
		}
		&.cols-3 {
			grid-template-columns: 1fr;
			@include respond-to('medium') {
				grid-template-columns: 1fr 1fr;

				&:nth-child(odd) {
					.wp-pic-wrapper {
						justify-content: flex-end;
					}
				}
				&:nth-child(even) {
					.wp-pic-wrapper {
						justify-content: flex-start;
					}
				}
			}
			@include respond-to('large') {
				grid-template-columns: 1fr 1fr 1fr;

				&:nth-child( 3n + 1 ) {
					.wp-pic-wrapper {
						justify-content: flex-start;
					}
				}
			}
		}
	}
}