/**
 * Plugin Name: WP Plugin Info Card by b*web
 * Plugin URI: http://b-website.com/
 * Author: Brice CAPOBIANCO - b*web
 */
@import "./wppic-style.scss";
@import "./button-resets.scss";
@import '../../node_modules/@wordpress/components/build-style/style.css';

@-moz-keyframes wppic-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes wppic-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes wppic-spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

$wppic-admin-primary-color: #DB3939;

/* Enable Smooth Scroll */
html {
	scroll-behavior: smooth;
}
#wpcontent {
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;

	#wppic-admin-header {
		margin: 0 !important;
		h1 {
			margin: 0;
			padding: 0;
		}
		#wppic-admin-header-content {
			max-width: 1200px;
			padding: 0 35px;
			margin: 0 auto;
		}
		.wppic-admin-header-logo {
			display: flex;
			align-items: center;
			img {
				max-width: 375px;
				height: auto;
			}
		}
	}

	nav svg {
		width: 20px;
		height: 20px;
		fill: #333;
		line-height: 1;
	}
	nav a span {
		display: inline-block;
		font-size: 14px;
		line-height: 1;
		margin-left: 8px;
	}
	nav a {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		background: transparent;
		border-bottom: 2px solid transparent;
		padding: 32px 16px;
		color: #53627C;
		transition: all 0.3s ease-in-out;
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}

		svg {
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			color: #53627C;
			border-bottom-color: #53627C;
			transition: all 0.3s ease-in-out;
			svg {
				fill: #53627C;
				transition: all 0.3s ease-in-out;
			}
			&.nav-tab-active {
				color: #DB3939;
			}
		}

		&.nav-tab-active {
			color: #DB3939;
			border-bottom-color: #DB3939;
			transition: all 0.3s ease-in-out;
			svg {
				fill: #DB3939;
				transition: all 0.3s ease-in-out;
			}
		}
	}

	header {
		background: #FFFFFF;
		overflow: hidden;
		margin: 0 !important;
		border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
		color: #687c93;
	}

	.nav-tab-wrapper .wppic-icon-tab {
		color: lighten(#9c68b0, 15%);
	}

	.nav-tab-wrapper .nav-tab-active .wppic-icon-tab {
		color: #873F49;
	}

	.wppic-panel-row h2 {
		font-size: 24px;
		color: #9c68b0;
		margin-top: 0;
		line-height: 1.3;
	}
}
.form-table th {
	padding-top: 15px;
}
.form-table td {
	padding-top: 20px;
	padding-bottom: 20px;
}
.wppic-admin-panel-container {
	max-width: 1200px;
	padding: 0 40px;
	margin: 0 auto;
	margin-top: 48px;

	&.with-sidebar {
		display: grid;
		grid-template-columns: 1fr 300px;
		column-gap: 60px;
	}
}
.wppic-admin-panel-area {
	padding: 30px;
	background: #FFF;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	h2 {
		position: relative;
		font-size: 32px;
		line-height: 1.25;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: 30px 1fr;
		align-items: center;
		column-gap: 10px;

		svg {
			display: inline-block;
			height: 100%;
			width: auto;
			max-width: 32px;
			max-height: 40px;
		}
	}
}
.wppic-admin-panel-sidebar {
	h3 {
		margin: 0;
		padding: 0;
	}
}
.wppic-admin-panel-sidebar-card {
	padding: 30px;
	background: #FFF;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}

	h3 {
		display: grid;
		grid-template-columns: 30px 1fr;
		align-items: center;
		column-gap: 6px;

		svg {
			color: $wppic-admin-primary-color;
			height: 100%;
			width: auto;
		}
	}
	.components-button .lucide path {
		color: #FFF;
		fill: none;
	}
}
.wppic-admin-panel-loading {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 35px;
	h2 {
		font-size: 32px;
		font-weight: 400;
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
	}
}
#wpfooter {
	display: none;
}
.wppic-admin-panel-area .components-form-toggle.is-checked .components-form-toggle__track {
	background-color: #12b76a;
}
.wppic-asset-list {
	.components-base-control__label {
		margin-bottom: 0;
	}
}
/** Buttons */
.wppic-btn.components-button {
	transition: all 0.3s ease-in-out;
	&:hover {
		transition: all 0.3s ease-in-out;
	}
	&.is-primary {
		background: #db8a39;
		border: 1px solid #cbcbcb;
	}
	&.is-primary:hover {
		background: #af6e2d;
	}
	&.wppic-btn-alt {
		background: #394EDB;
	}
	&.wppic-btn-alt:hover {
		background: #2e3e9c;
	}
	&.is-secondary {
		color: #000;
		background: #FFF;
		box-shadow: none;
		outline: #000 solid 1px;
	}
	&.is-secondary:hover {
		color: #000;
		background: #EEE;
	}
	&.has-icon-right {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		padding-left: 12px;
		padding-right: 8px;
		text-align: center;
		svg {
			margin-left: 8px;
		}
	}
	&.btn-full-width {
		width: 100%;
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.is-saving {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			animation: wppic-spin 1s linear infinite;
		}
	}
	&:disabled {
		cursor: not-allowed;
	}
	.lucide path,
	.lucide circle {
		color: inherit;
		fill: none;
	}
}

.wppic-close-btn {
	svg {
		color: #FFF;
		fill: unset;
	}
	.lucide path,
	.lucide circle {
		color: #FFF;
		fill: unset;
	}
	.lucide circle {
		color: #000;
	}
}

/** Drag and Drop */
.wppic-plugin-drag {
	display: grid;
	grid-template-columns: 30px 1fr 30px;
	position: relative;
	padding: 8px 20px;
	border: 2px solid #333;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	transition: all 0.3s ease-in-out;
	background: #FFF;
	&:hover {
		cursor: move;
		border-style: dashed;
		background: #f4f4f4 !important;
	}
	&.is-dragging {
		opacity: 0.4;
		border: 1px dashed #333;
	}
	&.is-over {
		border: 1px dashed #000;
		background: #2E872C !important;
		color: #FFF !important;
		box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	}
	.wppic-org-asset-icon {
		display: inline-flex;
		align-items: center;
	}
	.wppic-org-asset-icon svg {
		width: 20px;
		height: 20px;
		color: #333;
		path {
			color: #333;
			fill: unset;
		}
	}
}

/* Admin Buttons */
.wppic-admin-buttons {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.no-flex {
		display: block;
	}

	&.wppic-admin-buttons-flex-right {
		justify-content: flex-end;
	}

	svg.lucide path {
		fill: none !important;
	}

	button {
		background: #fff;
		color: #017e01;
		border-style: solid;
		border-color: #017e01;
		padding: 10px 20px;
		cursor: pointer;
		border-radius: 0;
		transition: all 0.4s ease-in-out;
		border-width: 1px;

		&:hover {
			border-radius: 0;
			background: #e9ece6;
			color: #005200;
			border-color: #006400;
		}

		&.has-error {
			border: 1px solid #bc2b2c;
			box-shadow: none !important; /* override core style */

			&:hover {
				cursor: not-allowed;
			}
		}

		&.wppic__btn-white {
			background: #fff;
			color: #333;
			border-color: #111;

			&:hover {
				background: darken(#fff, 10%);
				color: #111;
				border-color: #000;
			}
		}

		&.wppic__btn-secondary {
			background: #333;
			color: #ffffff;
			border-color: #111;

			&:hover {
				background: lighten(#333, 10%);
				color: #ffffff;
				border-color: lighten(#111, 10%);
			}
		}

		&.wppic__btn-link {
			all: unset;
			cursor: pointer;
			color: #9949cf;
			font-weight: 600;
			text-decoration: underline;
		}

		&.wppic__btn-danger {
			background: #fff;
			color: #822700;
			border-color: #822700;

			&:hover {
				background: #ece6e6;
				color: #822700;
				border-color: #822700;
			}
		}

		&.sce__btn-action {
			display: flex;
			align-items: center;
			background: #fff;
			color: #9949cf;
			border-color: #9949cf;
			font-weight: 600;

			&:hover {
				background: rgb(248, 247, 254);
				color: #8019c4;
				border-color: #6f6f6f;

				svg path {
					fill: #8019c4;
				}
			}

			svg {
				display: inline-block;
				margin-right: 8px;

				path {
					fill: #9949cf;
				}
			}
		}

		&.wppic__btn--icon-right {
			&.is-saving {
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					width: 24px;
					height: 24px;
					margin-left: 8px;
					animation: wppic-spin 1s linear infinite;

					path {
						fill: currentColor;
					}
				}
			}

			&.is-saved {
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					width: 24px;
					height: 24px;
					margin-left: 14px;

					path {
						fill: #017e01;
					}
				}
			}

			&.is-resetting {
				display: flex;
				justify-content: space-between;
				align-items: center;

				svg {
					width: 24px;
					height: 24px;
					animation: wppic-spin 1s linear infinite;

					path {
						fill: #822700;
					}
				}
			}
		}
	}
}

/**
 * Snackbar styles.
 */
 .wppic-snackbar.components-snackbar {
	position: fixed;
	top: 32px;
	right: 0;
	z-index: 10000;
	background: #0D3172;
	color: #FFF;

	.components-snackbar__content {
		display: flex;
		align-items: center;
	}
	.components-snackbar__icon {
		position: absolute;
		top: 24px;
		left: 28px;
		left: 14px;
		top: auto;
		bottom: auto;
		line-height: 0;
	}

	&.wppic-snackbar-loading {
		svg {
			animation: wppic-spin;
			animation-duration: 1.2s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
	&.wppic-snackbar-success {
		background: #14720D;
		color: #FFF;
	}
	&.wppic-snackbar-error,
	&.wppic-snackbar-critical {
		background: #820000;
		color: #FFF;
	}
	&.wppic-snackbar-warning {
		background: #FFC107;
		color: #000;
	}
 }

.wppic-admin-row {
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}

	p.components-base-control__help,
	p.components-form-token-field__help {
		font-size: 13px;
		font-style: italic;
	}
	p.wppic-admin-description {
		font-size: 13px;
		font-style: italic;
		margin: 0;
		padding: 0;
	}

	// Select control styles.
	.components-select-control,
	.components-radio-control {
		label {
			font-weight: 700 !important; /* override core styles */
			font-size: 0.8125rem !important /* override core styles */
		}
	}

	// Text control styles.
	.components-base-control:not(.components-range-control__number),
	.components-form-token-field {
		margin-bottom: 15px;

		&.has-error {
			margin-bottom: 5px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		label,
		label.components-base-control__label {
			font-weight: 600;
			font-size: 14px;
			text-transform: capitalize;
		}

		input[type='text'],
		input[type='number'] {
			position: relative;
			display: block;
			min-width: 200px;
			width: 100%;
			font-size: 14px;
			padding: 8px 14px 8px 12px;
		}
	}

	label.components-base-control__label {
		position: relative;
	}

	.is-required label:after {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		content: '*';
		top: -3px;
		right: -12px;
		color: #b53b07;
		font-size: 1.4em;
		line-height: 1.3;
	}
}

.mce-i-wppic-icon {
	background-image:  url('../assets/img/wppic.png');
	background-image:  none, url('../assets/img/wppic.svg'), url('../assets/img/wppic.png');
}
.mce-wppic-media {
	padding-right: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
}
.mce-wppic-media-button {
	cursor: pointer;
	width: 28px;
	height: 28px;
	display: block;
	-webkit-font-smoothing: antialiased;
	float: right;
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	font-size: 30px;
	color: #777;
	position: relative;
	line-height: 28px;
	text-align: center;
}
#wppic-admin-page .wp-pic.card {
  margin-top: 0;
  padding:0;
  min-width: auto;
  max-width: auto;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transperant;
}
#wppic-admin-page .wppic-cache-clear-loader{
	display: inline-block;
	width:20px;
	height:20px;
	background-size: 100%;
	position: absolute;
	margin: 4px 0 0 5px;
}
#wppic-admin-page.postbox {
	padding: 25px;
}
#wppic-admin-page #post-body-content .postbox .inside{
	line-height: 1em;
}
#wppic-admin-page .documentation a {
	font-weight: bold;
	color: #db3939;
	font-size: 14px;
	text-decoration: none;
}
#wppic-admin-page pre {
	display: block;
	background: #EAEAEA;
	margin: 0 0 10px;
	padding: 5px;
	overflow-x: auto;
}
h3.wp-pic-title {
	margin-top:20px;
}
#wppic-shortcode:after {
	content:'';
	display:block;
	clear:both;
	padding-bottom:15px;
}
#wppic-shortcode h3.hndle,
#wppic-form h3.hndle {
	margin: 0;
	padding: 8px 0 8px 12px;
	cursor:default;
}
#wppic-form label {
	padding-left: 15px;
}
#wppic-form div.form-list:not(:first-child) {
	margin-top: 40px;
}
#wppic-form .wppic-list li.wppic-dd {
    list-style-type: none;
	background-repeat: no-repeat;
	background-position: left;
	width: 100%;
	max-width: 550px;
	position: relative;
}
#wppic-form .wppic-list li.wppic-dd input[type=text] {
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
}
#wppic-form .wppic-list li.wppic-dd .wppic-remove-field {
	height: 24px;
	width: 24px;
	display: inline-block;
    cursor: pointer;
	margin-left: 5px;
	position: absolute;
	right: 0;
	top: 2px;
}
#wppic-about-list {
	display: inline-block;
	margin-right: 35px;
	line-height: 30px;
	vertical-align: top;
}
.wppic-button {
	display: inline-block;
	position: relative;
	padding: 2px 0 2px 22px;
	text-decoration: none;
	margin-right: 15px;
}
.wppic-button:before,
.wppic-list li.wppic-dd:before,
.wppic-list li.wppic-dd .wppic-remove-field:after {
	font-family: "dashicons";
	position: absolute;
	display: inline-block;
	left: 0px;
	font-size: 1.5em;
}
.wppic-button.wppic-pluginHome:before {
    content: "\f102";
}
.wppic-button.wppic-pluginOther:before {
    content: "\f106";
}
.wppic-button.wppic-pluginPage:before {
    content: "\f120";
}
.wppic-button.wppic-pluginSupport:before {
    content: "\f223";
}
.wppic-button.wppic-pluginRate:before {
    content: "\f155";
}
.wppic-button.wppic-pluginContact:before {
    content: "\f465";
}
.wppic-button.wppic-pluginDonate:before {
    content: "\f328";
}
.wppic-button.wppic-pluginCode:before {
	content: "\f475";
}
.wppic-list li.wppic-dd:before {
    cursor: move;
	top: 0px;
	left: 5px;
	height: 24px;
	width: 24px;
    content: "\f156";
}
.wppic-list li.wppic-dd .wppic-remove-field:after {
	left: auto;
	width: 24px;
	height: 24px;
    content: "\f335";
}

/*Dashboard Widget*/
#dashboard-widgets #wppic-dashboard-widget h4 {
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px 0;
	border-color: #eee;
	display: inline-block;
	width: 100%;
	margin: -1px 0 0;
	padding: 10px;
}
#dashboard-widgets #wppic-dashboard-widget img.wppic-logo{
	display: inline-block !important;
	margin-bottom: -3px;
	height: 18px;
}
#dashboard-widgets #wppic-dashboard-widget.postbox .inside {
	margin: 0;
	padding: 0;
}
#wppic-dashboard-widget div.wp-pic-loading {
	background-color: #fafafa;
	background-position: center center;
	background-size: 20px 20px;
	background-repeat:no-repeat;
	min-height: 30px;
	width: 100%;
}
#wppic-dashboard-widget div.wp-pic-item{
	margin: -1px 0 0;
	padding: 11px;
	border-top: 1px solid #eee;
	background: #fafafa;
}
#wppic-dashboard-widget .wp-pic-no-item {
	border: none;
}
#wppic-dashboard-widget .wp-pic-list.ajax-call div.wp-pic-item {
	display: none;
}
#wppic-dashboard-widget .wp-pic-widget-name {
	display: block;
}
#wppic-dashboard-widget .wp-pic-widget-rating,
#wppic-dashboard-widget .wp-pic-widget-downloaded,
#wppic-dashboard-widget .wp-pic-widget-updated,
#wppic-dashboard-widget .wp-pic-no-item {
	display: inline-block;
	padding-right: 15px;
	color: #777;
	font-weight: bold;
}
#wppic-dashboard-widget .wp-pic-widget-rating span,
#wppic-dashboard-widget .wp-pic-widget-downloaded span,
#wppic-dashboard-widget .wp-pic-widget-updated{
	font-weight: normal;
}
#wppic-dashboard-widget .wp-pic-widget-updated,
#wppic-dashboard-widget .wp-pic-no-item {
	margin: 0;
	font-style: italic;
}
#wppic-dashboard-widget .wp-pic-widget-updated {
	display: block;
}
.wppic-admin-shortcode {
	display: block;
	word-break: keep-all;
	overflow-wrap: break-word;
	background: #000;
	padding: 20px 30px;
	color: #FFF;
	max-width: 450px;
	width: 100%;
	font-weight: 700;
	border: 3px solid #cb212b;
	border-radius: 2px;
}
.wppic-pluginHome:hover:before,
.wppic-pluginPage:hover:before,
.wppic-pluginSupport:hover:before,
.wppic-pluginContact:hover:before,
.wppic-pluginRate:hover:before,
.wppic-button.wppic-pluginCode:hover:before {
	color: #cb212b;
	display: inline-block;
}
.wppic-pluginRate:hover:before {
	animation-name: wppic-spin;
    animation-duration: 3500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wppic-admin-link {
	display: inline-block;
	position: relative;
	color: #cb212b;
	text-decoration: none;
	font-size: 1.0em;
}
.wppic-admin-link.documentation {
	font-size: 1.3em;
	font-weight: 700;
}

.wppic-admin-link:hover {
	color: #cb212b;
}
.wppic-admin-link:after {
	position: absolute;
	opacity: 0;
	bottom: -4px;
	left: 0;
	width: 100%;
	content: '';
	display: inline-block;
	height: 2px;
	background-color: #cb212b;
	border-radius: 10px;
	transition: ease-in-out 0.2s;
}
.wppic-admin-link:hover:after {
	opacity: 1;
}

#wppic-about-list .wppic-button {
	position: relative;
	display: inline-block;
	transition: all 0.3s ease-in-out;
}
#wppic-about-list .wppic-button:hover {
	color: #db3939;
	transition: all 0.3s ease-in-out;
}
#wppic-about-list .wppic-button:after {
	position: absolute;
	opacity: 0;
	bottom: -4px;
	left: 0;
	width: 100%;
	content: '';
	display: inline-block;
	height: 2px;
	background-color: #cb212b;
	border-radius: 10px;
	transition: ease-in-out 0.2s;
}
#wppic-about-list .wppic-button:hover:after {
	opacity: 1;
}

/* New Admin styles */
#wppic-admin-header-content {
	display: grid;
	grid-template-columns: 370px 1fr;
	padding: 5px 20px;
	padding-bottom: 0;
}
#wppic-admin-header-content .wppic-admin-header-tabs {
	display: flex;
	justify-content: flex-end;
}
#wppic-admin-header-content .wppic-admin-header-tabs
#wppic-admin-header-content,
p.wppic-admin-header-description {
	font-size: 18px;
}
